.pagination-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .pages {
    display: flex;
    margin: 0 10px;
  }
  
  .page {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page.highlight {
    color: blue;
    font-weight: bold;
  }
  
  .arrow {
    font-size: 18px;
    cursor: pointer;
  }
  