<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Layout</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">product</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">setting</a></li>
                    <li><a href="#">contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="large-box"></div>
        <section class="content">
           <h1 class="Catchphrase">Catchphrase</h1> 
           <div class="text-block-container">
           <p class="text-block"> jbjkjhjkh bjjhguiiohhhhhhhhh hhhhhhh hhhhhhhhhh hhhhhhhhhh hgjjuuuuu uuuuuuuuuu uuuuuuuuuu uuuuuuu uuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuuu hgggggggggggggg gggggggggg gggggggggggggggg ggggggggggg hjhhhhhhjjjjjjhjhjhhhkhhhhkhjkhjkjhkhjijjnknkj hjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjk</p>
           <p class="text-block"> jbjkjhjkh bjjhguiiohhhhhhhhhh hhhhhhhhh hhhhhhhh hhhhhhhhh hgjjuuuuu uuuuuuuuuuu uuuuuuuuuu uuuuuuu uuuuuuuuuuuuuuuuuu uuuuuuuuuuuuuuuuuu hgggggggggggggg ggggggggggg gggggggggggggggg gggggggggg hjhhhhhhjjjjjjhjhjhhhkhhhhkhjkhjkjhkhjijjnknkj hjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjk</p>
        </div>
        </section>
        <div class="black-boxes">
            <div class="black-box"></div>
            <div class="black-box"></div>
            <div class="black-box"></div>
        </div>
        <footer>
<h2 class="footer-Catchphrase">Catchphrase</h2>
<button class="footer-button">Button</button>
        </footer>
    </body>
</html>